# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore build

**/build

# Ignore ros2 build install log

**/install

**/log

# Ignore vscode configuration
.vscode

# all large .ply files
**.ply

Scans/**