<?xml version="1.0"?>

<model>
  <name>STL_GZ</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Antonio Chappell</name>
    <email>antoniochappell@protonmail.com</email>
  </author>

  <description>
	A sample STL used for testing rendering STL meshes in gazebo
  </description>
</model>
